<section class="Orgs">
  <div class="sectionHeader">
    <h5 class="sectionTitle">Organizations</h5>
    <div class="sectionLine"></div>
  </div>
  <div class="sectionOrgs">
    <!-- individual Orgs to be iterated over by the backend in a partial template -->
    <article class="org">
      <div class="orgTitle">
        {{Org1.Title}}
      </div>
      <div class="orgContent">
        <div class="orgCounterBox">
          <div class="orgCounterNum">{{Org1.Counter}}</div>
          <div class="orgCounterTitle">New Testimonies</div>
        </div>
        <ul class="orgList">
          <li class="orgItem">
            <div class="orgItemText">
              {{Org1.Item1.Title}}
            </div>
            <img
              src="/thumbs-{{Org1.Item1.Icon}}.svg"
              alt={{Org1.Item1.Icon}}
            />
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              {{Org1.Item2}}
            </div>
            <img src="/thumbs-neutral.svg" alt="Neutral" />
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              {{Org1.Item3}}
            </div>
            <img src="/thumbs-neutral.svg" alt="Neutral" />
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              <nbsp></nbsp>
            </div>
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              <nbsp></nbsp>
            </div>
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              <nbsp></nbsp>
            </div>
          </li>
        </ul>
      </div>
    </article>

    <article class="org">
      <div class="orgTitle">
        {{Org2.Title}}
      </div>
      <div class="orgContent">
        <div class="orgCounterBox">
          <div class="orgCounterNum">{{Org2.Counter}}</div>
          <div class="orgCounterTitle">New Testimonies</div>
        </div>
        <ul class="orgList">
          <li class="orgItem">
            <div class="orgItemText">
              {{Org2.Item1}}
            </div>
            <img src="/thumbs-endorse.svg" alt="Endorse" />
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              {{Org2.Item2}}
            </div>
            <img src="/thumbs-neutral.svg" alt="Neutral" />
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              {{Org2.Item3}}
            </div>
            <img src="/thumbs-oppose.svg" alt="Oppose" />
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              {{Org2.Item4}}
            </div>
            <img src="/thumbs-endorse.svg" alt="Endorse" />
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              {{Org2.Item5}}
            </div>
            <img src="/thumbs-neutral.svg" alt="Neutral" />
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              {{Org2.Item6}}
            </div>
            <img src="/thumbs-oppose.svg" alt="Oppose" />
          </li>
        </ul>
      </div>
    </article>

    <article class="org">
      <div class="orgTitle">
        {{Org3.Title}}
      </div>
      <div class="orgContent">
        <div class="orgCounterBox">
          <div class="orgCounterNum">{{Org3.Counter}}</div>
          <div class="orgCounterTitle">New Testimonies</div>
        </div>
        <ul class="orgList">
          <li class="orgItem">
            <div class="orgItemText">
              {{Org3.Item1}}
            </div>
            <img src="/thumbs-endorse.svg" alt="Endorse" />
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              {{Org3.Item2}}
            </div>
            <img src="/thumbs-neutral.svg" alt="Neutral" />
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              {{Org3.Item3}}
            </div>
            <img src="/thumbs-oppose.svg" alt="Oppose" />
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              {{Org3.Item4}}
            </div>
            <img src="/thumbs-endorse.svg" alt="Endorse" />
          </li>
          <li class="orgItem">
            <div class="orgItemText">
              {{Org3.Item5}}
            </div>
            <img src="/thumbs-neutral.svg" alt="Neutral" />
          </li>
          <li class="orgItem blue">
            <div class="orgItemText">
              see more
            </div>
            <nbsp></nbsp>
            <div>
              +
            </div>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

{{!-- <div class="sectionOrgs">
    {{#if bill.1.title}}
      {{#each bill}}
        {{> bill }}
      {{/each}}
    {{else}}
      <article class="orgNoUpdates">
        {{> noUpdates }}
      </article>
    {{/if}}
  </div> --}}