<article class="bill">
  <div class="billTitle">
    {{this.title}}
  </div>
  <div class="billSubtitle">
    {{this.subtitle}}
  </div>
  <div class="billContent">
    <div class="billContentRow">
      <div class="billContentNum numBox1">
        <div class="billContentNumInner">
          {{this.testimonies}}
        </div>
      </div>
      <div class="billContentNum numBox2">
        <div class="billContentNumInner">
          {{this.cosponsors}}
        </div>
      </div>
      <div class="billContentNum numBox3">
        <div class="billContentNumInner">
          {{this.hearingDate}}
        </div>
      </div>
    </div>
    <div class="billContentRow">
      <div class="billContentTitle">
        New Testimonies
      </div>
      <div class="billContentTitle">
        New Co-Sponsors
      </div>
      <div class="billContentTitle">
        Hearing Date
      </div>
    </div>
  </div>
</article>