<article class="bill">
  <div class="billNumber">
    {{billNumber}}
  </div>
  <div class="billTitle">
    {{billTitle}}
  </div>
  <div class="billContent">
    <div class="billContentRow">
      <div class="billContentNum numBox1">
        <div class="billContentNumInner">{{testimonies}}</div>
      </div>
      <div class="billContentNum numBox2">
        <div class="circle green-circle"></div>
        <div class="billContentNumInner">{{endorseCount}}</div>
      </div>
      <div class="billContentNum numBox3">
        <div class="circle blue-circle"></div>
        <div class="billContentNumInner">{{neutralCount}}</div>
      </div>
      <div class="billContentNum numBox4">
        <div class="circle orange-circle"></div>
        <div class="billContentNumInner">{{opposeCount}}</div>
      </div>
    </div>
    <div class="billContentRow">
      <div class="billContentTitle">New Testimonies</div>
      <div class="billContentTitle">Endorse</div>
      <div class="billContentTitle">Neutral</div>
      <div class="billContentTitle">Oppose</div>
    </div>
  </div>
</article>