<article id="bill">
  <div style="font-weight: 500; font-size: 20px; line-height: 125%; 
              text-decoration-line: underline; color: #000000; margin-bottom: 4px">
    <a href="https://mapletestimony.org/bills/{{this.billCourt}}/{{this.billId}}" style="color: inherit">{{this.billId}}</a>
  </div>
  <div style="font-weight: 600; font-size: 16px; line-height: 125%; 
              color: #000000; letter-spacing: 0.03em; margin-bottom: 24px">
    {{this.billName}}
  </div>
  <a href="https://mapletestimony.org/bills/{{this.billCourt}}/{{this.billId}}" style="text-decoration: none; color: inherit">
    <div style="padding: 12px 0px 12px 36px; background: #EAE7E7;
                border-radius: 12px; margin-bottom: 12px; text-align: center">
      <div>
        <div style="height: 49px; font-weight: 500; font-size: 39px; line-height: 125%;
                    letter-spacing: -0.015em; color: #000000; margin: auto; text-align: center">
          {{addCounts this.endorseCount this.neutralCount this.opposeCount}}
        </div>
      </div>
      <div style="height: 20px; font-weight: 700; font-size: 16px; line-height: 125%;
                  letter-spacing: 0.015em; color: #3E3E3E; margin: auto; text-align: center">
        New {{pluralize this}}
      </div>
      <div style="height: 19px; font-weight: 700; font-size: 14px; line-height: 100%;
                  color: #000000; margin: auto; padding: 16px 0px 26px 0px;
                  text-align: center">
        <img src="https://mapletestimony.org/email/images_no-svgs/endorse.png" alt="checkmark" style="padding-right: 18px"/>
        {{this.endorseCount}} Endorse 
        <img src="https://mapletestimony.org/email/images_no-svgs/neutral.png" alt="dash" style="padding: 0 18px"/>
        {{this.neutralCount}} Neutral 
        <img src="https://mapletestimony.org/email/images_no-svgs/oppose.png" alt="x-mark" style="padding: 0 18px"/>
        {{this.opposeCount}} Oppose
      </div>
    </div>
  </a>
</article>