<html>
  <head>
    <title>Digest Email</title>
    <link rel="stylesheet" type="text/css" href="/email/header.css" />
  </head>

  <body class="font">
    <div id="logo" class="logo bg-blue">
      <img src="/nav-logo.svg" alt="Maple Logo" />
    </div>
    <header class="header">
      <div>
        <h2 class="headline blue">Here is your
          {{notificationFrequency}}
          report!</h2>
        <p class="subheadline blue center">{{startDate}} - {{endDate}}</p>
      </div>
      <img src="/Mail Report.svg" alt="Maple Logo" />
    </header>

    <section class="Bills">
      <div class="sectionHeader">
        <h6 class="sectionTitle">Bills</h6>
        <div class="sectionLine"></div>
      </div>
      <div class="sectionBills">
        <!-- individual Bills to be iterated over by the backend in a partial template -->
        <article class="bill">
          <div class="billTitle">
            {{Bill1.Title}}
          </div>
          <div class="billSubtitle">
            {{Bill1.Subtitle}}
          </div>
          <div class="billContent">
            grid counters
          </div>
        </article>

        <article class="bill">
          <div class="billTitle">
            {{Bill2.Title}}
          </div>
          <div class="billSubtitle">
            {{Bill2.Subtitle}}
          </div>
          <div class="billContent">
            grid counters
          </div>
        </article>
      </div>
    </section>

    <section class="Orgs">
      <div class="sectionHeader">
        <h6 class="sectionTitle">Organizations</h6>
        <div class="sectionLine"></div>
      </div>
      <div class="sectionOrgs">
        <!-- individual Orgs to be iterated over by the backend in a partial template -->
        <article class="org">
          <div class="orgTitle">
            {{Org1.Title}}
          </div>
          <div class="orgContent">
            grid stuff
          </div>
        </article>

        <article class="org">
          <div class="orgTitle">
            {{Org2.Title}}
          </div>
          <div class="orgContent">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
          </div>
        </article>
      </div>
    </section>

    <nav class="navHeader bg-blue white">
      <p class="navText">see more at your</p>

      <!-- change link to newsfeed page on maple website when available -->
      <button
        onclick="window.location.href='https://mapletestimony.org/';"
        class="navButton bg-blue"
      >
        <img src="/Newsfeed Icon.svg" alt="Newsfeed Icon" />
        <p class="navButtonText white">Newsfeed</p>
      </button>
    </nav>
    <footer class="footer">
      <div class="footerLine"></div>
      <p class="footerContent">This is an automatically-generated email from
        MAPLE that you opted into from your settings.
        <br />
        <br />
        <!-- Unsubscribe -> add link to User's profile - notifications model -->
        <!--   or backend function that handles Unsubscribe -->
        <!-- Terms & Cond -> add link to appropriate Maple subpage -->
        <!-- Privacy and Comm -> add link to appropriate Maple subpage -->
        Unsubscribe | Terms & Conditions | Privacy and Community Guidelines
      </p>
    </footer>
  </body>
</html>

{{!--
  Intended Layout:

    {{> header }}  
    {{> bills }}
    {{> orgs }}
    {{> newsFeedLink}}
    {{> footer}}

    -----
    header.handlebars 
    {{> logo }}
    {{> report.frequency }}
    {{> report.dates }}

  TODO:
    [x] figure out svg -> handlebars compatibility
    
    [x] figure out better way to preview svgs in VSCode

    [ ] set up path for handlebars to:
      locate partials
      register helpers

    [ ] review folder locations & conventions:
      style={{}} seems to throw errors in children of CreateMeta:
        most likely works with .tsx but not .handlebars files

      currently using css with: 
        <link rel="stylesheet" href="/email/<cssFileName>.css" />
      currently located at:
        /public/email/<cssFileName>.css

      when attempting to use location in /functions/...
        Refused to apply style from 'http://localhost:6006/functions/src/email/digestEmail.css'
        because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict
        MIME checking is enabled.

    [ ] add link to newsfeed page on maple website when available

    [ ] add links to footer section
      [ ]  Unsubscribe
      [ ]  Terms & Cond
      [ ]  Privacy and Comm
--}}