<html>
  <head>
    <title>Hello Handlebars</title>
  </head>

  <body>

  {{> header }}

  {{#if (isDefined name)}}true{{else}}false{{/if}}

    <div>
      <p>My name is {{name}} and I live at {{street}} in {{city}}, {{state}}</p>
    </div>
  </body>
</html>