<article style="padding: 16px 0px 26px 24px; gap: 4px; background: #EAE7E7;
                border-radius: 12px; margin-bottom: 20px"
>
  <div style="font-weight: 500; font-size: 22px; line-height: 125%; color: #000000;
              margin-right: auto"
  >
    <a href="https://mapletestimony.org/profile?id={{this.userId}}" target="_blank" rel="noopener noreferrer" style="color: inherit">{{this.userName}}</a>
  </div>
  <div style="margin-right: auto;">
    <div style="margin-right: 24px; display: inline-block">
      <div style="width: 37px; height: 76px; font-weight: 600; font-size: 61px;
                  line-height: 125%; letter-spacing: -0.03em; color: #000000;
                  margin-left: auto; margin-right: auto;"
      >
        {{this.newTestimonyCount}}
      </div>
      <div style="font-weight: 700; font-size: 16px; line-height: 125%; letter-spacing: 0.015em;
                  color: #000000; width: 135px"
      >
        {{#ifGreaterThan this.newTestimonyCount 1}}
          New Testimonies
        {{else}}
          New Testimony
        {{/ifGreaterThan}}
      </div>
    </div>
    <table style="display: inline-block; margin: 0; padding: 0; font-size: 20px;">
      <tr>
        {{!-- the possibility of the 6th item being handled differently and
          the possibility of more than 6 data points makes iterating 
          through an array of items difficult --}}

        {{!-- Item 1 --}}

        {{#if this.bills.0.billId}}
          <td style="width: 100px">
            <div style="text-decoration-line: underline; display: inline-block; margin-right: 15px">
              <a href="https://mapletestimony.org/bills/{{this.bills.0.court}}/{{this.bills.0.billId}}" target="_blank" rel="noopener noreferrer" style="color: inherit">
                {{this.bills.0.billId}}
              </a>
            </div>
          </td>
          <td style="width: 50px">
            <img
              src="https://mapletestimony.org/email/images_no-svgs/{{this.bills.0.position}}.jpg"
            />
          </td>
        {{/if}}

        {{!-- Item 2 --}}
          
        {{#if this.bills.1.billId}}
          <td style="width: 100px">
            <div style="text-decoration-line: underline; display: inline-block; margin-right: 15px">
              <a href="https://mapletestimony.org/bills/{{this.bills.1.court}}/{{this.bills.1.billId}}" target="_blank" rel="noopener noreferrer" style="color: inherit">
                {{this.bills.1.billId}}
              </a>
            </div>
          </td>
          <td style="width: 50px">
            <img
              src="https://mapletestimony.org/email/images_no-svgs/{{this.bills.1.position}}.jpg"
            />
          </td>
        {{/if}}
      </tr>
      <tr>
        {{!-- Item 3 --}}

        {{#if this.bills.2.billId}}
          <td style="width: 100px">
            <div style="text-decoration-line: underline; display: inline-block; margin-right: 15px">
              <a href="https://mapletestimony.org/bills/{{this.bills.2.court}}/{{this.bills.2.billId}}" target="_blank" rel="noopener noreferrer" style="color: inherit">
                {{this.bills.2.billId}}
              </a>
            </div>
          </td>
          <td style="width: 50px">
            <img
              src="https://mapletestimony.org/email/images_no-svgs/{{this.bills.2.position}}.jpg"
            />
          </td>
        {{/if}}

        {{!-- Item 4 --}}
        
        {{#if this.bills.3.billId}}
          <td style="width: 100px">
            <div style="text-decoration-line: underline; display: inline-block; margin-right: 15px">
              <a href="https://mapletestimony.org/bills/{{this.bills.3.court}}/{{this.bills.3.billId}}" target="_blank" rel="noopener noreferrer" style="color: inherit">
                {{this.bills.3.billId}}
              </a>
            </div>
          </td>
          <td style="width: 50px">
            <img
              src="https://mapletestimony.org/email/images_no-svgs/{{this.bills.3.position}}.jpg"
            />
          </td>
        {{/if}}

      </tr>
      </tr>
        {{!-- Item 5 --}}

        {{#if this.bills.4.billId}}
          <td style="width: 100px">
            <div style="text-decoration-line: underline; display: inline-block; margin-right: 15px">
              <a href="https://mapletestimony.org/bills/{{this.bills.4.court}}/{{this.bills.4.billId}}" target="_blank" rel="noopener noreferrer" style="color: inherit">
                {{this.bills.4.billId}}
              </a>
            </div>
          </td>
          <td style="width: 50px">
            <img
              src="https://mapletestimony.org/email/images_no-svgs/{{this.bills.4.position}}.jpg"
            />
          </td>
        {{/if}}

        {{!-- Item 6 --}}

        {{#if this.bills.5.billId}}
          {{#if this.bills.6.billId}}
            <td style="width: 100px">
              <a class="orgItemText" href="https://mapletestimony.org/profile?id={{userId}}" target="_blank" rel="noopener noreferrer">
                see more
              </a>
            </td>
            <td style="width: 50px">
              <div style="color: #1A3185; font-weight: bold;">
                +
              </div>
            </td>
          {{else}}
            <td style="width: 100px">
              <div style="text-decoration-line: underline; display: inline-block; margin-right: 15px">
                <a href="https://mapletestimony.org/bills/{{this.bills.5.court}}/{{this.bills.5.billId}}" target="_blank" rel="noopener noreferrer" style="color: inherit">
                  {{this.bills.5.billId}}
                </a>
              </div>
            </td>
            <td style="width: 50px">
              <img
                src="https://mapletestimony.org/email/images_no-svgs/{{this.bills.5.position}}.jpg"
              />
            </td>
          {{/if}}
        {{/if}}
      </tr>
    </table>
  </div>  
</article>
